
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; 
    color: #f0f0f0; 
    margin: 0;
    padding: 15px;
}

.container {
    width: 80%; 
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #2e2e2e; 
    border-radius: 10px; 
    box-shadow: 0 0 20px #8e44ad,
    0 0 30px #8e44ad,
    0 0 40px #8e44ad; 
    
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #9b59b6; 
}

.profile-photo {
    width: 120px; 
    height: 120px;
    border-radius: 50%; 
    border: 3px solid #9b59b6; 
}

.about-me, .interests, .contact {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #3c3c3c; 
    border-left: 5px solid #8e44ad; 
}

h2 {
    color: #8e44ad; 
}

ul {
    list-style-type: none; 
    padding: 0;
}

li {
    background-color: #5e5e5e; 
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px; 
}

.contact p {
    margin: 5px 0; 
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #bbb;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8em; 
    }

    h2 {
        font-size: 1.5em; 
    }

    .profile-photo {
        width: 100px; 
        height: 100px;
    }

    .container {
        padding: 15px; 
    }

    .about-me, .interests, .contact {
        padding: 10px; 
    }

    li {
        padding: 8px; 
    }
}
.about-me {
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.about-me h2 {
    text-align: center;
    color: #8e44ad;
    margin-bottom: 20px;
}

.about-me p {
    font-size: 18px;
    line-height: 1.6;
    color: #cb9bdd;
}

.about-me ul {
    list-style-type: none;
    padding: 0;
}

.about-me li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.about-me li:hover {
    background-color: #e9ecef;
}

.highlight {
    color: #007bff;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
a{
    color: darkturquoise;
    text-decoration: none;
}
.interests {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.interests h2 {
    text-align: center;
    color: #8e44ad;
    margin-bottom: 20px;
}

.interests ul {
    list-style-type: none;
    padding: 0;
}

.interests li {
    opacity: 0; /* Скрываем элементы по умолчанию */
    transform: translateY(20px); /* Сдвигаем элементы вниз */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Плавный переход */
}

.interests li.visible {
    opacity: 1; /* Делаем элементы видимыми */
    transform: translateY(0); /* Возвращаем элементы на место */
}
.contact{
    border-radius: 10px;
}